# .gitignore
data/raw/
data/processed/
src/comparative/checkpoints/default/
src/comparative/checkpoints/lightning_logs/
results/
backup/
outputs/
__pycache__/
*.pyc
*.pyo
.DS_Store
.vscode/
.idea/
*.log
